/*
  Base
*/



body {
  font-family: $sans-serif-font-family;
  font-size: 18px;
  color: $body-color;
  line-height: 1.75rem;
  background: $new-dark-color;
  max-width: 100%;
}

h1{
  font-size: 2rem;
}

h1 a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans-serif-font-family;
  line-height: 2.5rem;
  color: $body-color;
}

@media (max-width: $elements-responsive-width) {
  body {
    font-size: 14px;
    line-height: 1.5rem;
  }
  body h1 {
    font-size: 1.2rem;
  }
}


a {
  text-decoration: underline;
  color: $body-color;
}

a:hover {
  color: $link-color;
  border-bottom: none;
}

.tile {
  font-family: $mahjong-font-family;
  color: black;
  font-size: 2em;
  line-height: 2em;
}

sup {
   vertical-align: top;
   position: relative;
   top: -0.5em;
   text-decoration: none !important;
}

ul {
  padding-left: 0.5em;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

blockquote {
  margin: 10px 20px 10px;
  padding: 0px 15px;
  border-left: 0.25em solid $extra-light-gray-color;
  color: #FFF;
  line-height: 1.5;
}

hr {
  border-top: 1px solid $extra-light-gray-color;
}

/*
  Tables
*/

table {
  border-collapse: collapse;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  border: 1px solid #FFF;
}

th, td {
  padding: 10px;
  text-align: left;
}

