/*
  Site container
*/

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content-container {
  margin-bottom: 4rem;
  flex-grow: 1;
  padding: 0 1rem;
  max-width: 75rem;
}

.navigation + .content-container {
  max-width: 54rem;
}

/*48em*/

/*
  Header
*/

section {
  display: flex;
  text-align: center;
  justify-content: center;
}

.slanted {
  display: inline-block; /* Ensures transform applies correctly */
  transform: rotate(-5deg) skew(-5deg);
  background-color: $link-color;
  padding: 0.7rem 1.5rem 1rem;
  margin-bottom: 1rem;
  position: relative;
  color: white;
  font-size: 4rem;
  white-space: nowrap
}

.header {
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem 0.7rem 0rem;
  max-width: 75rem;
  font-family: $sans-serif-font-family;
}

.header a:hover {
  color:$link-color;
}

.header-title a {
  text-decoration: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; 
}
h3.header-title {
  margin-bottom: 0px;
}

/*

.header-title::before {
  content: "日本語上手ですね";
  position: absolute;
  top: 2.7rem;
  left: 6.7rem;
  font-size: 4rem;
  text-decoration: none;
  color: cyan;
  mix-blend-mode: multiply;
  z-index: 7;
  transform: rotate(-5deg) skew(-5deg) translate(2px, 2px);
}
*/

.slanted::after {
  content: "konomu's notebook";
  position: absolute;
  top: 4rem;
  left: 5rem;
  font-size: 1rem;
  color: white;
  transform: skew(-5deg);
  white-space: nowrap;
}

.header-subtitle {
  display: none;
}

/*
  Menu
*/

.menu {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-content {
  float: left;
  margin-left: 1.5rem;
}

.menu-content a {
  color: white;
  font-size: 1.1rem;
  padding-right: 10px;
}

.social-icons {
  float: right;
  text-align: right;
}

.social-icons a {
  color: white;
  font-size: 1.3rem;
}


.sidebar-toggle, .sidebar-toggle-label {
  display: none;
}

.navigation {
  display: flex;
  align-self: flex-start;
  flex-shrink: 1;
  padding: 1rem;
  position: sticky;
  top: 0;
  right: 0;
  max-height: 100vh;
  min-width: 18.1rem;
  font-size: 0.9em;
  line-height: 1.8em;
  box-sizing: border-box;
  justify-content: right;
  overflow-y: auto;
}

.navigation .nav-header {
  padding-left: 0;
  padding-right: 0;
}

.nav-header {
  font-size: 1em;
  cursor: default;
  text-transform: uppercase;
  font-weight: bold;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 0.8; }
}

@keyframes fadeOut {
  0% { opacity: 0.8; }
  100% { opacity: 0; }
}

@media (max-width: $elements-responsive-width) {
  .social-icons {
    float: right;
    padding-top: 0px;
  }
  .menu {
    justify-content: center;
  }
  .menu-content a {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0px;
  }
}

@media (max-width: $container-responsive-width) {

  /* Floating Menu Button */
  .sidebar-toggle-label {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: $link-color;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    z-index: 5;
  }

  .navigation {
    left: -18.1rem;
    height: 100%;
    position: fixed;
    top: 0;
    transform: translateX(0);
    transition: transform .25s cubic-bezier(.4,0,.2,1),box-shadow .25s;
    width: 18.1rem;
    z-index: 1000;
    background-color: $dark-gray-color;
    box-sizing: border-box;
    font-size: 1em;
    line-height: 1.5em;
    justify-content: left;
    overflow-y: scroll
  }

  #sidebar-toggle:checked ~ .navigation {
    transform: translateX(18.1rem);
  }

  #sidebar-toggle:checked ~ .sidebar-toggle-label span {
    display: none;
  }

  #sidebar-toggle:checked ~ .sidebar-toggle-label {
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;
    border-radius: 0%;
    background-color: $dark-gray-color;
    content-visibility: hidden;
    text-indent: 106vw;
    opacity: 80%;
    animation: fadeIn 0.2s;
    cursor: pointer;
    z-index: 5;
  }
}

/*
  Nav arrows
*/

.arrow-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Allow buttons to wrap */
  gap: 10px; /* Space between buttons */
  max-width: 100%; /* Ensure container does not exceed 100% of its parent */
  padding: 0 10px; /* Add padding inside the container */
  box-sizing: border-box; /* Include padding and border in the element's width and height */
  overflow: hidden; /* Prevent content from overflowing */
}

.nav-arrow {
  flex-shrink: 1; /* Allow buttons to shrink to prevent overflow */
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  border: 1px solid white;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  min-width: 80px; /* Set a minimum width for the buttons */
}

.nav-arrow:hover {
  background-color: #fff;
}

@media (max-width: $container-responsive-width) { /* Adjust to a specific width or use a variable */
  .arrow-container {
    flex-direction: column; /* Stack buttons vertically on small screens */
    align-items: center;
  }

  .nav-arrow {
    width: 90%; /* Make buttons full width within the container */
  }
}

/*
  Footer
*/

.footer {
  color: $light-gray-color;
  text-align: center;
  margin: 2rem;
}

.footer a {
  color: $light-gray-color;
  padding: 10px;
  text-decoration: none;
}

.footer a:hover {
  color: $dark-gray-color;
}

.footer-description {
  display: block;
  margin-top:3px;
  margin-bottom: 1rem;
  color: $light-gray-color;
  font-family: $sans-serif-font-family;
  font-size:0.8rem;
}
