/*
  Site container
*/

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content-container {
  margin-bottom: 4rem;
  flex-grow: 1;
  padding: 0 1rem;
  max-width: 75rem;
}

.navigation + .content-container {
  max-width: 54rem;
}

/*48em*/

/*
  Header
*/

.header {
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem 1rem 0rem;
  margin-bottom: 4rem;
  max-width: 75rem;
  font-family: $sans-serif-font-family;
}

.header a:hover {
  color:$link-color;
}

.header-title a {
  font-size: 2rem;
  text-decoration: none;
  color: $body-color;
}

.header-subtitle {
  color: $light-gray-color;
}

/*
  Menu
*/

.menu {
  padding-top: 0.5rem;
  display: block;
}

.menu-content {
  float: left;
}

.menu-content a {
  color: $light-gray-color;
  font-size: 1rem;
  padding-right: 10px;
}

.social-icons {
  float: right;
}

.social-icons a {
  color: $light-gray-color;
  font-size: 1rem;
}


.sidebar-toggle, .sidebar-toggle-label {
  display: none;
}

.navigation {
  display: flex;
  align-self: flex-start;
  flex-shrink: 1;
  padding: 1rem;
  position: sticky;
  top: 2.4rem;
  right: 0;
  min-width: 18.1rem;
  font-size: 0.9em;
  line-height: 1.8em;
  box-sizing: border-box;
  justify-content: right;
}

.navigation .nav-header {
  padding-left: 0;
  padding-right: 0;
}

.nav-header {
  font-size: 1em;
  cursor: default;
  text-transform: uppercase;
  font-weight: bold;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 0.8; }
}

@keyframes fadeOut {
  0% { opacity: 0.8; }
  100% { opacity: 0; }
}

@media (max-width: $container-responsive-width) {
  .social-icons {
    float: right;
    padding-top: 0px;
  }
  .menu-content a {
    font-size: 0.8rem;
    line-height: 1.5rem;
    margin-bottom: 0px;
  }
  .header-subtitle {
    display: block;
  }
  /* Floating Menu Button */
  .sidebar-toggle-label {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: $link-color;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    z-index: 5;
  }

  .navigation {
    left: -18.1rem;
    height: 100%;
    position: fixed;
    top: 0;
    transform: translateX(0);
    transition: transform .25s cubic-bezier(.4,0,.2,1),box-shadow .25s;
    width: 18.1rem;
    z-index: 1000;
    background-color: $dark-gray-color;
    box-sizing: border-box;
    font-size: 1em;
    line-height: 1.5em;
    justify-content: left;
    overflow-y: scroll
  }

  #sidebar-toggle:checked ~ .navigation {
    transform: translateX(18.1rem);
  }

  #sidebar-toggle:checked ~ .sidebar-toggle-label span {
    display: none;
  }

  #sidebar-toggle:checked ~ .sidebar-toggle-label {
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;
    border-radius: 0%;
    background-color: $dark-gray-color;
    content-visibility: hidden;
    text-indent: 106vw;
    opacity: 80%;
    animation: fadeIn 0.2s;
    cursor: pointer;
    z-index: 5;
  }


}


/*
  Footer
*/

.footer {
  color: $light-gray-color;
  text-align: center;
  margin: 2rem;
}

.footer a {
  color: $light-gray-color;
  padding: 10px;
  text-decoration: none;
}

.footer a:hover {
  color: $dark-gray-color;
}

.footer-description {
  display: block;
  margin-top:3px;
  margin-bottom: 1rem;
  color: $light-gray-color;
  font-family: $sans-serif-font-family;
  font-size:0.8rem;
}
