/*
  Site container
*/

.container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
}

.content-container {
  margin-bottom: 4rem;
  flex-grow: 1;
  padding: 0 1rem;
}

/*48em*/

@media (max-width: $container-responsive-width) {
  .container {
    width: 100vw;
  }
}

/*
  Header
*/

.header {
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem 12.1rem 0rem;
  margin-bottom: 4rem;
  max-width: 100rem;
  font-family: $sans-serif-font-family;
}

.header a:hover {
  color:$link-color;
}

.header-title a {
  font-size: 2rem;
  text-decoration: none;
  color: $body-color;
}

.header-subtitle {
  color: $light-gray-color;
}

/*
  Menu
*/

.menu {
  padding-top: 0.5rem;
  display: block;
}

.menu-content {
  float: left;
}

.menu-content a {
  color: $light-gray-color;
  font-size: 1rem;
  padding-right: 10px;
}

.social-icons {
  float: right;
}

.social-icons a {
  color: $light-gray-color;
  font-size: 1rem;
}

.phold {
  align-self: flex-start;
  flex-shrink: 1;
  padding: 1.2rem;
  position: sticky;
  top: 2.4rem;
  width: 18.1rem;
}

.sidebar-toggle, .sidebar-toggle-label {
  display: none;
}

.navigation {
  align-self: flex-start;
  flex-shrink: 1;
  padding: 1.2rem;
  position: sticky;
  top: 2.4rem;
  width: 18.1rem;
}

.navigation li a {
  padding-left: 10px;
  padding-right: 10px;
}

.navigation .nav-header {
  padding-left: 0;
  padding-right: 0;
}

.nav-header {
  font-size: 1em;
  cursor: default;
  text-transform: uppercase;
  font-weight: bold;
}

@media (max-width: $elements-responsive-width) {
  .social-icons {
    float: right;
    padding-top: 0px;
  }
  .menu-content a {
    font-size: 0.8rem;
    line-height: 1.5rem;
    margin-bottom: 0px;
  }
  .header {
    padding: 20px;
  }
  .header-subtitle {
    display: block;
  }
  .phold {
    display: none;
  }
  /* Floating Menu Button */
  .sidebar-toggle-label {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  .sidebar-toggle-label:hover {
    background-color: #555;
  }

  .navigation {
    left: -18.1rem;
    height: 100%;
    position: fixed;
    top: 0;
    transform: translateX(0);
    transition: transform .25s cubic-bezier(.4,0,.2,1),box-shadow .25s;
    width: 18.1rem;
    z-index: 5;
    background-color: $dark-gray-color;
    box-sizing: border-box;
  }

  .close-btn {
    top: 10px;
    right: 10px;
  }

  #sidebar-toggle:checked ~ .navigation {
    transform: translateX(18.1rem);
  }
}


/*
  Footer
*/

.footer {
  color: $light-gray-color;
  text-align: center;
  margin: 2rem;
}

.footer a {
  color: $light-gray-color;
  padding: 10px;
  text-decoration: none;
}

.footer a:hover {
  color: $dark-gray-color;
}

.footer-description {
  display: block;
  margin-top:3px;
  margin-bottom: 1rem;
  color: $light-gray-color;
  font-family: $sans-serif-font-family;
  font-size:0.8rem;
}
