/*
  Social media icons
*/

.sharing-icons a {
  padding-right: 10px;
  font-size: 1.6em;
  position: relative;
  top: 0.4em;
}

@mixin social-media-icon($color, $transition){
  -webkit-transition: $transition;
  -o-transition: $transition;
  -ms-transition: $transition;
  -moz-transition: $transition;
  transition: $transition;
  &:hover{
    color: $color;
  }
}

.fa-envelope {
  padding: 5px;
  @include social-media-icon($envelope-color, $icon-transition-time);
}

.fa-twitter {
  padding: 5px;
  @include social-media-icon($twitter-color, $icon-transition-time);
}

.fa-instagram {
  padding: 5px;
  @include social-media-icon($instagram-color, $icon-transition-time);
}

.fa-github {
  padding: 5px;
  @include social-media-icon(#096BDE, $icon-transition-time);
}

.fa-linkedin {
  padding: 5px;
  @include social-media-icon($linkedin-color, $icon-transition-time);
}

.fa-facebook {
  padding: 5px;
  @include social-media-icon($facebook-color, $icon-transition-time);
}

.fa-pinterest {
  padding: 5px;
  @include social-media-icon($pinterest-color, $icon-transition-time);
}

.fa-medium {
  padding: 5px;
  @include social-media-icon($medium-color, $icon-transition-time);
}

.fa-codepen {
  padding: 5px;
  @include social-media-icon($codepen-color, $icon-transition-time);
}

.fa-youtube {
  padding: 5px;
  @include social-media-icon(#FF0000, $icon-transition-time);
}

.fa-rss-square {
  padding: 5px;
  @include social-media-icon($rss-color, $icon-transition-time);
}

.fa-coffee {
  padding: 5px;
  @include social-media-icon(#13C3FF, $icon-transition-time);
}

/* ko-fi icon */
.fa-coffee::before {
  content: "\f0f4";
  display: inline-block;
  font-size: 1.1em;
  line-height: 0.45em;
  overflow-y: hidden;
  padding-top: 0.45em;
}
.fa-coffee::after {
  color: #000;
  content: "\f004";
  font-size: 45%;
  font-weight: 900;
  margin: 1.05em 0 0 -2em;
  position: absolute;
}
