---
---
body {
    margin: 0;
}

$sans-serif-font-family: "Noto Sans JP", sans-serif;
$serif-font-family:      "PT Serif", Georgia, "Times New Roman", serif;
$code-font-family:       "Source Code Pro", monospace;
$mahjong-font-family:    "Tile Regular";

$body-color:             #fff;
$link-color:             #ed00b5;

$code-background-color:   #333;
$pagination-button-color: #e0e0e0;

$dark-gray-color:        #111;
$light-gray-color:       #999;
$extra-light-gray-color: #ccc;
$new-dark-color:         #0F0F0F;

$container-responsive-width: 1024px;
$elements-responsive-width:  50em;

$icon-transition-time: .5s;
$envelope-color:       #f39c12;
$twitter-color:        #00aced;
$instagram-color:      #375989;
$github-color:         #343434;
$linkedin-color:       #0073a4;
$facebook-color:       #3d5b99;
$pinterest-color:      #bd081c;
$medium-color:         #00AB6C;
$codepen-color:        black;
$rss-color:            #ff6600;

@import "-sections-dir";
